.about-section {
  padding-top: 150px;
  padding-bottom: 150px;
}
.about-wrapper {
  display: flex;
  gap: 32px;
}

.about-content {
  flex-grow: 1;
  padding: 90px 50px;
  background-color: #1b414b;
  border-radius: 24px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 32px;
  width: 100%;

  background-color: #1b414b;
}

.about-item {
  width: calc((100% - 32px) / 2);
}
.about-count {
  position: relative;
  display: block;
  margin-bottom: 38px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
}
.about-count::after {
  content: '';

  position: absolute;
  top: calc(100% + 18px);
  left: 0;

  width: 100%;
  height: 2px;

  background-color: rgba(251, 251, 251, 0.1);
  border-radius: 18px;
}
.about-text {
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #b4b7ba;
}
.about-image {
  width: 432px;
  height: 424px;

  flex-shrink: 0;

  border-radius: 24px;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}